<mat-toolbar class="header mat-app-background">
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <button mat-raised-button (click)="map.addRandomRoute($event)">Add random route</button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened="false" class="sidenav">
    <app-route-list style="width: 100%;" #routeList
                    [routes]="map.routes"
                    [focusedRoute]="map.focusedRoute"
                    (removedRoute)="map.refocus($event)">Loading...</app-route-list>
  </mat-sidenav>

  <app-map #map
           [routes]="routeList.routes"
           [focusedRoute]="routeList.focusedRoute">Loading...</app-map>
</mat-sidenav-container>

<mat-toolbar class="footer">
  <p class="source-code">Source code: <a href="https://github.com/hradecek/randomaps">github.com/hradecek/randomaps</a></p>
</mat-toolbar>
