.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-container {
  position: absolute;
  top: 60px;
  bottom: 26px;
  left: 0;
  right: 0;
}

.sidenav {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 300px;
  background-color: #FFE082;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FFA000;
}

.footer {
  font-weight: normal;
  font-size: 13px;
  height: 26px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer > .source-code {
  width: 100%;
  text-align: right;
}
