<mat-accordion>
  <mat-expansion-panel *ngFor="let route of routes"
                       [hideToggle]="true"
                       [expanded]="focusedRoute === route.center"
                       [class.selected-item]="focusedRoute === route.center"
                       class="item"
                       (opened)="selectRoute(route)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ route.center.lat }},{{ route.center.lng }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div>Color: <hr class="hr-line" [style.backgroundColor]="route.color" [style.borderColor]="route.color">
    </div>
    <div>
      Weight: <mat-slider max="5" min="1" [(ngModel)]="route.weight" step="1"></mat-slider>
    </div>
    <mat-action-row>
      <button mat-button>Download as JSON</button>
      <button mat-icon-button (click)="removeRoute($event, route)"><mat-icon color="warn">close</mat-icon></button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

