<mat-accordion>
  <mat-expansion-panel *ngFor="let route of routes"
                       [hideToggle]="true"
                       [expanded]="focusedRoute === route.center"
                       [class.selected-item]="focusedRoute === route.center"
                       (opened)="selectRoute(route)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ route.center.lat }},{{ route.center.lng }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    Color: <hr [style.backgroundColor]="route.color" [style.borderColor]="route.color"
               style="margin-top: -10px; width: 50px; height: 2px;">
    <mat-action-row>
      <button mat-icon-button (click)="removeRoute($event, route)"><mat-icon color="warn">close</mat-icon></button>
      <button mat-button>Download as JSON</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

