.hr-line {
  height: 2px;
  width: 137px;
  margin-top: -10px;
  margin-left: 55px;
}

.item mat-slider {
  width: 150px;
}

.selected-item {  }

.selected-item > mat-expansion-panel-header {
  font-weight: bold;
}
